<section class="property-binding">

    <!--article>
        <h3>Interpolation/Interpolação</h3>
        <p>String renderizada com interpolação : {{ url }}</p>
        <p>O resultado de 1 + 1 é {{ 1 + 1 }}</p>
        <p>O resultado de 1 + 1 não é {{1 + 1 + getValor()}}</p>
        <p>Curtiu o curso de angular : {{curtiuCurso && getCurtirCurso()}}</p>
    </article>

    <article>
        <h3>Property Biding</h3>
        <img [src]="urlImagem"><img>
    </article-->

    <article>
        <h3>Class e Style Biding</h3>
        <div>
            Selecione uma classe:
            <select #classe (change)="0">
                <option value="alert-success">Sucesso</option>
                <option value="alert-info">Info</option>
                <option value="alert-warning">Alerta</option>
                <option value="alert-danger">Erro</option>
            </select>
            <br><br>

                <div value="alert alert-success" role="alert">AAAAAAAAA</div>
                <div value="alert alert-info" role="alert">...</div>
                <div value="alert alert-warning" role="alert">...</div>
                <div value="alert alert-danger" role="alert">...</div>
        </div>
    </article>






</section>>
