<table>
    <thead>
      <tr class="deep-purple lighten-2">
          <th class="fonte-branca">Nome</th>
          <th class="fonte-branca">Preço</th>
          <th class="fonte-branca">Validade</th>
          <th class="fonte-branca">Ações</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor='let produto of produtos$ | async'>
        <td>{{ produto.nome }}</td>
        <td>{{ produto.preco | currency:'BRL':true}}</td>
        <td>{{ produto.validade  | date : ' dd/MM/yyyy ' }}</td>
        <td>
          <app-botao-adiciona [id]="produto.id" 
          (produtoAtualizado)="listaProdutos()" 
          (escondeBotaoDeleta)="mudaBotao()"
          [estado]="estadoBotao">
          </app-botao-adiciona>
          <app-botao-deleta [id]="produto.id" 
          (produtoDeletado)="listaProdutos()" 
          (escondeBotaoAtualiza)="mudaBotao()"
          [estado]="estadoBotao">
          </app-botao-deleta>
        </td>
      </tr>
      
    </tbody>
  </table>
